
body {
/*  background-color: #545151;
*/  background-image: url(../images/blackdenim.png);
}
.navbar-inverse .navbar-brand, h2, h3{
    color: white;
    font-family: 'Passion One', cursive;
    font-size: 40px;
    text-shadow: 3px 3px rgba(5, 5, 5, 0.83)
}
.form-control:focus{
  border-color: #bdb21f;  
  box-shadow: none; 
  -webkit-box-shadow: none;
} 
.well {
  max-height: 375px;
  opacity: .95;
  background-color: black;
  background-image:none;
  border:none;
}

.carousel-control {
  padding-top:10%;
  width:10%;
}

.left .right {
  height: 100%;
}
.carousel-control.left {
  left: -53px;
}

.carousel-control.right {
  right: -53px;
}

.thumbnail {
  background-color: none;
  max-height: 325px;
}

#titleCaption {
  color: white;
  font-size: 20px;
  font-family: 'Passion One', cursive;
  text-shadow: 3px 3px rgba(5, 5, 5, 0.83);
}

.footer{
  text-align: center;
}
/*Modal*/

.w3-modal {
  z-index: 0;
}

#network {
  float: left;
}

#mute {
  float: right;
  font-size: 10px;
}

#modalTextBox{
  background-color: #151212;
  color:white;
}
#simShows{
  padding-top: 5%;
  background-color: #151212;
  color:white;
  margin-bottom: 5%;
}
.rowA{
  background-color:#151212;
  margin-bottom: 5%;
}
#ShowTitle, #brand, #network{
  color:#bdb21f;
}
.Carousel{
  background-color: black;
  border:none;
}
#carouselContainer{
  background-color: rgba(255,0,255, 0);
}

.thumbnail{
  background-color: rgba(0,0,0,0);
  border:none;
}

.img-responsive {
  box-shadow: 5px 5px 3px rgba(5, 5, 5, 0.83);
}

.modal-backdrop.in{
    opacity:0.0 !important;
}
.w3-black {
  background-color:#151212;
}
.w3-container {
  background-color:#151212;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bdb21f;
    box-shadow: 5px 5px 3px rgba(5, 5, 5, 0.83);
    margin: 1em 0;
    padding: 0; 
}

.btn-secondary {
  color: black;
}

#btnGroup {
  float: left;
}

.modalInfo{
  font-size: 15px;
  color: grey;
}

#modImage {
  box-shadow: 5px 5px 3px rgba(5, 5, 5, 0.83)
}
