
body {
/*  background-color: #545151;
*/  background-color: black;
}
.navbar-inverse .navbar-brand, h2{
    color: white;
    font-family: 'Passion One', cursive;
    font-size: 40px;
}

.well {
  max-height: 375px;
  opacity: .95;
  background-color: black;
  background-image:none;
  border:none;
}
.carousel-control {
  padding-top:10%;
  width:10%;
}

.left .right {
  height: 100%;
}

.thumbnail {
  background-color: black;
  max-height: 325px;
}

#titleCaption {
  color: white;
  font-size: 20px;
  font-family: 'Passion One', cursive;
}

/*Modal*/

.w3-modal {
  z-index: 0;
}

#network {
  float: left;
}

#mute {
  float: right;
  font-size: 10px;
}

#modalTextBox{
  background-color: black;
  color:white;
}
#simShows{
  padding-top: 5%;
  background-color: black;
  color:white;
}
.rowA{
  background-color:black;
  margin-bottom: 5%;
}
#ShowTitle, #brand{
  color:red;
}
.Carousel{
  background-color: black;
  border:none;
}
#carouselContainer{
  background-color: black;
}

.thumbnail{
  background-color: black;
  border:none;
}

.modal-backdrop.in{
    opacity:0.0 !important;
}