
body {
  background-color: #545151;
}
.navbar-inverse .navbar-brand, h2{
    color: white;
    font-family: 'Passion One', cursive;
    font-size: 40px;
}
.well {
  height: 375px;
  opacity: .95;
}
.carousel-control {
  padding-top:10%;
  width:10%;
}

.left .right {
  height: 100%;
}

.thumbnail {
  background-color: black;
  height: 325px;
}

#titleCaption {
  color: white;
  font-size: 20px;
  font-family: 'Passion One', cursive;
}

/*Modal*/

.w3-modal {
  z-index: 0;
}

#network {
  float: left;
}

#mute {
  float: right;
  font-size: 10px;
}

